main{
    justify-self: center;
    position: relative;
    width: 100%;
    max-width: 1200px;
    min-height: 100svh;
    overflow-y: clip;
}

#btn-start{
    font-size: x-large;
    height: 120px;
    width: 120px;
    text-align: center;
    border-radius: 50%;
    padding: 0 !important;
}

/*MODAL*/

.modal{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(47, 79, 79, 0.449);
}

.div-modal{
    position: relative;
    padding: 1rem;
    width: 80%;
    max-width: 1400px;
    min-width: 600px;
    min-height: 400px;
    height: auto;
    background-color: antiquewhite;
    border: 4px solid #2f4f4f;
    border-radius: 10px;
    padding: 3rem;
}

/*BOTONES MENU*/

.btn-salir{
    position: absolute;
    top: 0;
    right: 15px;
    background-color: transparent;
    border: none;
    font-size: 35px;
    color: #2f4f4f;
    padding: 1rem;
}

.btn-back-grey{
    border: none;
    border-radius: 50%;
    background-color: rgba(47, 79, 79, 0.149);
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}


#btn-cuenta{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#btn-ajustes{
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.img-ajustes-cuenta{
    max-width: 30px;
    max-height: 30px;
    width: 30px;
    height: auto;
}

/*CIRCULOS FONDO*/

#background-divs{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -3;
}

.back-div{
    background-color: #2f4f4f;
    border-radius: 50%;
    position: absolute;
    box-shadow: 2px 2px 5px 2px #253f3f92;
}

/* CIRCULO SUPERIOR IZQUIERDA */

#back1{
    top: 100px;
    left: -60px;
    filter: blur(1px);
    animation: flotar1 3s infinite ease-in-out;
    width: 120px;
    height: 120px;
}

/* CIRCULO SUPERIOR DERECHA */

#back2{
    top: 160px;
    right: 10px;   
    filter: blur(4px);
    animation: flotar2 2s infinite ease-in-out;
    width: 80px;
    height: 80px;
}

/* CIRCULO INFERIOR IZQUIERDA */

#back3{
    bottom: 100px;
    left: 20px;
    filter: blur(4px);
    animation: flotar2 4s infinite ease-in-out;
    width: 100px;
    height: 100px;
}

/* CIRCULO INFERIOR DERECHA */

#back4{
    bottom: -100px;
    right: 0;
    animation: flotar1 3s infinite ease-in-out;
    width: 180px;
    height: 180px;
}


@keyframes flotar1 {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0px); }
}

@keyframes flotar2 {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0px); }
}

.inp-form{
    border: 4px solid #2f4f4f;
    border-radius: 10px;
    padding: 0.5rem;
    color: whitesmoke;
    background-color: #2f4f4f82;
    letter-spacing: 4px;
}